extends layout
block layout-content
  div.View
    div.BannerName
      h1 BullsEye
    div.BannerIcon
      image(src="eye.jfif")
  div.Content
    div.CreateTeam
      h3 Welcome #{team_name} Team
      p Share below link to join the team.
      p http://localhost:8000/add/#{team_id}?team_name=#{team_name}
      div.AllMembers
        div#playersList
          div#Player
        br
        input#start(type="button", value="Start")  
          
  script.
    var socket=io.connect("http://localhost:8000");
    socket.emit("joined",{team_id:"#{team_id}",player_id:"#{player_id}"});

    socket.on("update",function(data){
      var node=document.getElementById("Player");
      var newNode=document.createElement('span');
      var player = document.createTextNode(' '+data.player_name);
      newNode.appendChild(player);
      node.appendChild(newNode);
    })

    var btn=document.getElementById("start");
    btn.addEventListener('click',function(){
      socket.emit("start",{teamId:"#{teamId}"})
    }) 
    